<a href="https://colab.research.google.com/github/Tamaraawwad/Coursera-Python-for-data-science/blob/main/Adult_Data_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exploratory data analysis

Exploratory data analysis with Pandas
In this task you should use Pandas to answer a few questions about the Adult dataset.
1. How many men and women (sex feature) are represented in this dataset?
2. What is the average age (age feature) of women?
3. What is the percentage of German citizens (native-country feature)?
4. What are the mean and standard deviation of age for those who earn more than
50K per year (salary feature) and those who earn less than 50K per year?
5. Is it true that people who earn more than 50K have at least a high school
education? (education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc,
Masters or Doctorate feature)
6. Display age statistics for each race (race feature) and each gender (sex feature).
Use groupby() and describe(). Find the maximum age of men
of Amer-Indian-Eskimo race.
7. Among whom is the proportion of those who earn a lot (>50K) greater: married or
single men (marital-status feature)? Consider as married those who have
a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent
or Married-AF-spouse), the rest are considered bachelors.
8. What is the maximum number of hours a person works per week
(hours-per-week feature)? How many people work such a number of hours, and
what is the percentage of those who earn a lot (>50K) among them?
9. Count the average time of work (hours-per-week) for those who earn a little and a
lot (salary) for each country (native-country). What will these be for Japan?
10. Find out the total number of hours worked and mean salary as per different
occupations.

In [32]:
#Write a Python program to display first 5 rows from Adult dataset.
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("adult.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   age              32561 non-null  int64
 1   workclass        32561 non-null  object
 2   fnlwgt           32561 non-null  int64
 3   education        32561 non-null  object
 4   educational-num  32561 non-null  int64
 5   marital-status   32561 non-null  object
 6   occupation       32561 non-null  object
 7   relationship     32561 non-null  object
 8   race             32561 non-null  object
 9   gender           32561 non-null  object
 10  capital-gain     32561 non-null  int64
 11  capital-loss     32561 non-null  int64
 12  hours-per-week   32561 non-null  int64
 13  native-country   32561 non-null  object
 14  income           32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
#How many men and women (sex feature) are represented in this dataset?
df['gender'].value_counts()

gender
Male      21790
Female    10771
Name: count, dtype: int64

In [4]:
#What is the average age (age feature) of women?
groubby_gender=df.groupby('gender')
groubby_gender['age'].mean()

gender
Female    36.858230
Male      39.433547
Name: age, dtype: float64

In [5]:
#What is the percentage of German citizens (native-country feature)?
print(df['native-country'].unique())

[' United-States' ' Cuba' ' Jamaica' ' India' ' ?' ' Mexico' ' South'
 ' Puerto-Rico' ' Honduras' ' England' ' Canada' ' Germany' ' Iran'
 ' Philippines' ' Italy' ' Poland' ' Columbia' ' Cambodia' ' Thailand'
 ' Ecuador' ' Laos' ' Taiwan' ' Haiti' ' Portugal' ' Dominican-Republic'
 ' El-Salvador' ' France' ' Guatemala' ' China' ' Japan' ' Yugoslavia'
 ' Peru' ' Outlying-US(Guam-USVI-etc)' ' Scotland' ' Trinadad&Tobago'
 ' Greece' ' Nicaragua' ' Vietnam' ' Hong' ' Ireland' ' Hungary'
 ' Holand-Netherlands']

In [12]:
# Remove leading and trailing spaces from 'native-country' column
df['native-country'] = df['native-country'].str.strip()

# Exclude rows where 'native-country' is '?' (indicating unknown)
df_cleaned = df[df['native-country'] != '?']

# Count occurrences of 'Germany'
german_count = df_cleaned['native-country'].value_counts().get('Germany', 0)

# Calculate percentage
german_percentage = (german_count / len(df_cleaned)) * 100

print(f"Percentage of German citizens: {german_percentage:.2f}%")

Percentage of German citizens: 0.43%

In [11]:
#What are the mean and standard deviation of age for those who earn more than 50K per year (salary feature) and those who earn less than 50K per year?
df.groupby('income')['age'].agg(['mean','std'])

             mean        std
income
<=50K   36.783738  14.020088
>50K    44.249841  10.519028

In [14]:
#Is it true that people who earn more than 50K have at least a high school education?
 #(education â€“ Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters or Doctorate feature)
#df.groupby('income')['education'].value_counts()
#print(df['education'].unique())

# Define the education levels considered as "high school or better"
high_school_or_better = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']

# Filter the dataset for those earning more than 50K
high_income_df = df[df['income'] == '>50K']

# Check if anyone earning >50K does NOT have at least a high school education
low_education_count = high_income_df[~high_income_df['education'].isin(high_school_or_better)].shape[0]

# Print the result
if low_education_count == 0:
    print("True: All people earning more than 50K have at least a high school education.")
else:
    print(f"False: {low_education_count} people earning more than 50K do not have at least a high school education.")

True: All people earning more than 50K have at least a high school education.

In [18]:
# Display age statistics for each race (race feature) and each gender (sex feature). Use groupby() and describe().
#First, Remove extra spaces from column values
df['race'] = df['race'].str.strip()
df['gender'] = df['gender'].str.strip()

age_stats = df.groupby(['race', 'gender'])['age'].describe()
print(age_stats)

#Find the maximum age of men of Amer-Indian-Eskimo race.
max_age = df[(df['race'] == 'Amer-Indian-Eskimo') & (df['gender'] == 'Male')]['age'].max()
print("The maximum age of Amer-Indian-Eskimo men is:", max_age)

                             count       mean        std   min   25%   50%  \
race               gender
Amer-Indian-Eskimo Female    119.0  37.117647  13.114991  17.0  27.0  36.0
                   Male      192.0  37.208333  12.049563  17.0  28.0  35.0
Asian-Pac-Islander Female    346.0  35.089595  12.300845  17.0  25.0  33.0
                   Male      693.0  39.073593  12.883944  18.0  29.0  37.0
Black              Female   1555.0  37.854019  12.637197  17.0  28.0  37.0
                   Male     1569.0  37.682600  12.882612  17.0  27.0  36.0
Other              Female    109.0  31.678899  11.631599  17.0  23.0  29.0
                   Male      162.0  34.654321  11.355531  17.0  26.0  32.0
White              Female   8642.0  36.811618  14.329093  17.0  25.0  35.0
                   Male    19174.0  39.652498  13.436029  17.0  29.0  38.0

                             75%   max
race               gender
Amer-Indian-Eskimo Female  46.00  80.0
                   Male    45.00  82.0
Asian-Pac-Islander Female  43.75  75.0
                   Male    46.00  90.0
Black              Female  46.00  90.0
                   Male    46.00  90.0
Other              Female  39.00  74.0
                   Male    42.00  77.0
White              Female  46.00  90.0
                   Male    49.00  90.0
The maximum age of Amer-Indian-Eskimo men is: 82

In [37]:
#Among whom is the proportion of those who earn a lot (>50K) greater: married or single men (marital-status feature)?
# Consider as married those who have a marital-status starting with Married (Married-civ-spouse, Married-spouse-absent or Married-AF-spouse), the rest are considered bachelors.

# Remove leading and trailing spaces
df['income'] = df['income'].str.strip()
df['marital-status'] = df['marital-status'].str.strip()
df['gender'] = df['gender'].str.strip()

# Define married statuses
married_statuses = {'Married-civ-spouse', 'Married-spouse-absent', 'Married-AF-spouse'}

# Classify marital status
df['marital_status_grouped'] = df['marital-status'].map(lambda x: 'Married' if x in married_statuses else 'Single')

# Filter only males
male_df = df[df['gender'] == 'Male']

# Calculate total and high earners per marital status
total_counts = male_df['marital_status_grouped'].value_counts()
high_earners = male_df[male_df['income'] == '>50K']['marital_status_grouped'].value_counts()

# Calculate proportion of high earners
proportion_high_earners = (high_earners / total_counts * 100).fillna(0)

# Display results
print("Total men in each group:\n", total_counts)
print("\nHigh earners in each group:\n", high_earners)
print("\nProportion of high earners (%):\n", proportion_high_earners)

Total men in each group:
 marital_status_grouped
Married    13541
Single      8249
Name: count, dtype: int64

High earners in each group:
 marital_status_grouped
Married    5965
Single      697
Name: count, dtype: int64

Proportion of high earners (%):
 marital_status_grouped
Married    44.051399
Single      8.449509
Name: count, dtype: float64

In [51]:
#What is the maximum number of hours a person works per week (hours-per-week feature)?
# step 1
max_hours = df['hours-per-week'].max()
print(f"Maximum hours worked per week: {max_hours}")

# Remove leading and trailing spaces
df['income'] = df['income'].str.strip()

#How many people work such a number of hours, and what is the percentage of those who earn a lot (>50K) among them?
# Step 2: Filter the dataset for people who work that maximum number of hours
max_hours_df = df[df['hours-per-week'] == max_hours]

# Step 3: Count how many of them earn more than 50K
high_earners = max_hours_df[max_hours_df['income'] == '>50K'].shape[0]

# Step 4: Calculate the total number of people working maximum hours
total_count = max_hours_df.shape[0]

# Step 5: Calculate the percentage of high earners among them
percentage_high_earners = (high_earners / total_count) * 100

# Display the results
print(f"Total people who work {max_hours} hours per week: {total_count}")
print(f"Number of people who earn more than 50K: {high_earners}")
print(f"Percentage of high earners among them: {percentage_high_earners:.2f}%")

#print(df[df['hours-per-week'] == 99].head(10))

Maximum hours worked per week: 99
Total people who work 99 hours per week: 85
Number of people who earn more than 50K: 25
Percentage of high earners among them: 29.41%

In [54]:
#Count the average time of work (hours-per-week) for those who earn a little and a lot (salary) for each country (native-country).

# Clean up any extra spaces in 'income' and 'native-country' columns
df['income'] = df['income'].str.strip()
df['native-country'] = df['native-country'].str.strip()

# Exclude rows where 'native-country' is '?' (unknown)
df_cleaned = df[df['native-country'] != '?']

# Group the data by 'native-country' and 'income', and calculate the mean of 'hours-per-week'
average_hours_by_country = df_cleaned.groupby(['native-country', 'income'])['hours-per-week'].mean().reset_index()

# Print the result
print(average_hours_by_country)

# Filter for Japan's data
japan_avg_hours = average_hours_by_country[average_hours_by_country['native-country'] == 'Japan']
print(japan_avg_hours)

   native-country income  hours-per-week
0        Cambodia  <=50K       41.416667
1        Cambodia   >50K       40.000000
2          Canada  <=50K       37.914634
3          Canada   >50K       45.641026
4           China  <=50K       37.381818
..            ...    ...             ...
75  United-States   >50K       45.505369
76        Vietnam  <=50K       37.193548
77        Vietnam   >50K       39.200000
78     Yugoslavia  <=50K       41.600000
79     Yugoslavia   >50K       49.500000

[80 rows x 3 columns]
   native-country income  hours-per-week
45          Japan  <=50K       41.000000
46          Japan   >50K       47.958333

In [57]:
#Find out the total number of hours worked and mean salary as per different occupations.

# Clean up any extra spaces in 'occupation' and 'income' columns
df['occupation'] = df['occupation'].str.strip()
df['income'] = df['income'].str.strip()

# Exclude rows where 'occupation' is '?' (indicating unknown)
df_cleaned = df[df['occupation'] != '?']

# Group the data by occupation
occupation_stats = df_cleaned.groupby('occupation').agg(
    total_hours_worked=('hours-per-week', 'sum'),  # Total hours worked per occupation
    mean_salary=('income', lambda x: (x == '>50K').mean())  # Mean salary, where 1 represents '>50K' and 0 represents '<=50K'
).reset_index()

# Print the result
print(occupation_stats)

           occupation  total_hours_worked  mean_salary
0        Adm-clerical              141595     0.134483
1        Armed-Forces                 366     0.111111
2        Craft-repair              173405     0.226641
3     Exec-managerial              182920     0.484014
4     Farming-fishing               46708     0.115694
5   Handlers-cleaners               51988     0.062774
6   Machine-op-inspct               81593     0.124875
7       Other-service              114342     0.041578
8     Priv-house-serv                4900     0.006711
9      Prof-specialty              175481     0.449034
10    Protective-serv               27823     0.325116
11              Sales              148851     0.269315
12       Tech-support               36593     0.304957
13   Transport-moving               71316     0.200376